html {
    padding: 0 0 0 0;
    border: 0 0 0 0;
    margin: 0 0 0 0;
}

h2 {
    font-size: 2.3vw;
}
ul li {
    padding: 12px 0 12px 0;
    font-size: x-large;
}
#nav {
    width: 25%;
}

#imgJake {
    width: 100%;
    opacity: .90;
}
.namePos {
    padding: 0 0 0 9%;
}

#nameSty {
    /* font-family: */
    font-size: 8.5vw;
    font-weight: 700;
    color: black;
    /* opacity: .85; */
    text-shadow: 7px 7px 7px #ffffff;
    padding: 0 2px 0 0;
}

#threePos {
    padding: 0 0 1% 6% ;
}

.threeSty {
    color: black;
    font-size: 2.9vw;
    font-weight: 700;
    font-style: italic;
    text-shadow: 4px 4px 4px #ffffff;
    opacity: 1;
}

#oneFact {
    margin: 0 0 16% 106%;
}

#twoFact {
    margin: 0 0 23% 47%;
}

.things {
    font-size: x-large;
}